@import url(reset.css);

//font
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

// Colors

// Primary
$brightOrange: hsl(31, 77%, 52%);
$darkCyan: hsl(184, 100%, 22%);
$veryDarkCyan: hsl(179, 100%, 13%);

//Neutral
$transparentWhite: hsla(0, 0%, 100%, 0.75);
$veryLightGray: hsl(0, 0%, 95%);

.attribution {
  margin-top: 50px;
  font-size: 11px;
  text-align: center;
  color: $veryDarkCyan;
}
.attribution a {
  color: $darkCyan;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
}

.container {
  margin: 30px;
  border-radius: 10px;
}

.card {
  padding: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  .icon {
    margin-top: 20px;
  }

  .title {
    margin-top: 20px;
    font-family: "Big Shoulders Display";
    font-size: 42px;
    color: $veryLightGray;
    text-transform: uppercase;
  }

  .text {
    font-size: 16px;
    color: $transparentWhite;
    margin-top: 20px;
    line-height: 22px;
  }

  .more {
    margin-top: 30px;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    border: none;
    background-color: $veryLightGray;

    &:hover {
      background-color: transparent;
      color: $veryLightGray !important;
      border: 1px solid $veryLightGray;
      cursor: pointer;
    }
  }
}

.card:first-of-type {
  background-color: $brightOrange;
  .more {
    color: $brightOrange;
  }
}

.card:nth-of-type(2) {
  background-color: $darkCyan;
  .more {
    color: $darkCyan;
  }
}

.card:last-of-type {
  background-color: $veryDarkCyan;
  .more {
    color: $veryDarkCyan;
  }
}

@media only screen and (max-width: 376px) {
  body {
    height: 100%;
    width: 100%;
  }

  .card:first-of-type {
    border-radius: 10px 10px 0 0px;
  }

  .card:last-of-type {
    border-radius: 0px 0px 10px 10px;
  }
}

@media only screen and (min-width: 376px) {
  body {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
  }

  .container {
    grid-column: 2/3;
    grid-row: 2/3;

    display: grid;
    grid-template-columns: repeat(auto-fill, 215px);
    grid-template-rows: 700px;
    justify-content: center;
    align-content: center;
  }

  .title {
    margin-top: 40px !important;
    font-size: 52px !important;
  }

  .text {
    margin-top: 40px !important;
    font-size: 18px !important;
    line-height: 36px !important;
  }

  .more {
    font-size: 16px !important;
    font-weight: 700;
  }

  .card:first-of-type {
    border-radius: 10px 0 0 10px;
  }

  .card:last-of-type {
    border-radius: 0px 10px 10px 0px;
  }
}

@media only screen and (min-width: 376px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
